 .hero-section-wrap {
    background-color: #262e45;
    /* background-color: rgb(10, 10, 10); */
 }
 .hero-section-wrap {    
    width: 100%;
 }
 .hero-section .change-wrap-text h1 {
    /* font-family: 'Gilroy'; */
    color: #ffffff;
    /* font-size: 110px; */
    font-weight: 600;
 }
 .hero-section-wrap .hero-section {
    background-size: 100% 100%;
    height: 1100px;
    margin-bottom: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 140px;
 }
 .hero-section-wrap .hero-section p {
    font-size: 20px;
    font-weight: 500;
    /* margin-bottom: 3rem; */
    color: #ffffff;
 }
 .hero-img-block .img-sec {
    border-radius: 18px;
 }
 .hero-img-block .img_block_id_1 {
    position: relative;
    height: 490px;
    width: 490px;
    left: 0;
 }
 .hero-img-block .img_block_id_2 {
    position: relative;
    width: 258px;
    height: 360px;
    top: 46px;    
    left: 0;
 }
 .hero-img-block .img_block_id_3 {
    position: relative;
    width: 260px;
    height: 410px;
    bottom: 75px;  
    left: 0;
 }
 .hero-img-block .img_block_id_4 {
    position: relative;
    width: 490px;
    height: 490px;
    bottom: 30px;   
    right: 0; 
 }
 .get-started-btn {
    align-items: center;
    background-color: #e3c2a0;
    border: none;
    border-radius: 5px;
    color: #000;
    display: flex;
    font-size: 18px;
    height: 55px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 24px;
    font-weight: 600;
    width: 170px;
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease; 
 }
  .webdev {
    color: #ffd9e2;
    /* text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c; */
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: blink 4s infinite alternate;
             animation: blink 4s infinite alternate;
    }
    .socod {
    font-size: 11vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
             animation: buzz 0.01s infinite alternate;
    }
    
    @-webkit-keyframes buzz {
    70% {
       opacity: 0.80;
    }
    }
    
    @keyframes buzz {
    70% {
       opacity: 0.80;
    }
    }
    @-webkit-keyframes blink {
    40% {
       opacity: 1;
    }
    42% {
       opacity: 0.8;
    }
    43% {
       opacity: 1;
    }
    45% {
       opacity: 0.2;
    }
    46% {
       opacity: 1;
    }
    }
    @keyframes blink {
    40% {
       opacity: 1;
    }
    42% {
       opacity: 0.8;
    }
    43% {
       opacity: 1;
    }
    45% {
       opacity: 0.2;
    }
    46% {
       opacity: 1;
    }
    }
 .get-started-btn:hover {
    background-color: #eec8a1;
 }
 .hero-section-wrap .get-started-btn {
    font-size: 16px;
    height: 45px;
    padding: 1rem;
    width: 150px;
 }
 .hero-section-wrap .hero-section {
    height: 1250px;
    padding-top: 280px;
 }
 .up-hero-section-wrap .hero-section {
    height: 1210px;
    padding-top: 110px;
 }
 @media (min-width: 1199px) {
    .hero-section .change-wrap-text h1 {
          font-size: 70px;
       }
 }
 @media (min-width: 992px) and (max-width: 1199px) {
    .hero-section-wrap .hero-section {
       padding-top: 170px;
       margin-bottom: 70px;
    }
    .up-hero-section-wrap .hero-section {
       padding-top: 140px;
    }
    .up-hero-section-wrap .hero-section {
       height: 1060px;
    }
    .up-hero-section-wrap #gradient-canvas {
       height: 1250px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 70px;
    }
 }
 @media (min-width: 768px) and (max-width: 991px) {
    .header .navbar-toggler {
       border: none;
       outline: none;
       padding: 0;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 70px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 78px;
    }
    .header.sticky-header .navbar-nav li a,
    .header .navbar-op-1 .navbar-nav li a {
       color: #ffffff!important;
    }
    .header .navbar-collapse {
       background-color: #000000;
       padding: 1rem;
       position: absolute;
       left: 0;
       right: 0;
       top: 70px;
    } 
    .header .navbar-nav {
       margin-top: 2rem;
       text-align: center;
    }
    .top-get-started-btn {        
       height: 35px;
       width: 160px;
       margin: 1rem auto 0;
    }
    .index-hero-features {
       width: 70%;
    }
    #gradient-canvas {
       height: 1200px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 78px;
    }
    .hero-section-wrap .hero-section p {
       font-size: 20px;
    }
    .hero-section-wrap .hero-section {
       padding-top: 140px;
       margin-bottom: 70px;
       height: 930px;
    }
 }
 @media (max-width: 767px) {
    .hero-section .change-wrap-text h1 {
        font-size: 50px;
     }
    .hero-section-wrap .hero-section {
       height: 750px;
       margin-bottom: 50px;
    }
    .hero-section-wrap .hero-section p {
       font-size: 16px;
       font-weight: 500;
       padding: 0 2rem;
       margin-top: 0.5rem;
    }
    .hero-section-wrap .get-started-btn {
       font-size: 18px;
       height: 50px;
       font-weight: 600;
       width: 150px;
    }

 }
 @media (min-width: 320px) and (max-width: 767px) {
    .top-get-started-btn {    
       font-size: 14px;    
       height: 35px;
       margin-top: 1rem;
    }
    .hero-section-wrap .hero-section {
       padding-top: 140px;
       padding-bottom: 0;
    }
    .hero-img-block .img_block_id_1 {
       width: 140px;
       height: 140px;
       top: -65px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_2 {
       width: 90px;
       height: 140px;
       top: -100px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_3 {
       width: 145px;
       height: 145px;
       bottom: 85px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_4 {
       display: none;
    }
    .hero-img-block {
       bottom: -35px;
       gap: 15px;
    }
    .hero-section-wrap .button-design-fixed button.bottom-fix-btn {
       font-size: 14px;
       height: 35px;
       width: 120px;
       padding: 0 15px;
    }
 }

.lead2 {
    font-size: 1.15rem;
}
.h4-v2 {
    font-size: 18px;
    color: #05164d;
    font-weight: 600;
}
.bgF8F8F8{
    background-color: #F8F8F8;
}
.dcard__white{
    background-color: #fff;
    color: #000;
    padding: 45px 25px !important;
}
.blurcards .dcard__bosy{
   backdrop-filter: blur(6px);
}
.bg-black{
    background-color: #000;
}

.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://media.timeout.com/images/101602611/image.jpg);}
.bg-two {background-image: url(http://s1.it.atcdn.net/wp-content/uploads/2015/08/2-London.jpg);}
.bg-three {background-image: url(https://media.timeout.com/images/101484105/image.jpg);}
.bg-four {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Hollywood_Sign.jpg/1280px-Hollywood_Sign.jpg);}
.bg-five {background-image: url(http://www.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/1453920892/DUBAI-554088081-ABOVE0116.jpg?itok=dcoZnCrc);}
.bg-six {background-image: url(http://blog.whitepages.com/wp-content/uploads/2015/04/san-franc.jpg);}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px;}
    .wrapper {padding: 20px 20px;}
}
.bg-theme{
   background-color: #262e45 !important;
}
.bg-theme2{
   background-color: #e3c2a0 !important;
}
.fsec{
    height: 700px;
    position: relative;
    transition: transform 1s ease;
    transform: translateX(0px);
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    /* filter: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(881%) hue-rotate(187deg) brightness(91%) contrast(88%); */
}
.fsec_img1{
    background-image: linear-gradient(#262e4533 0%, rgb(38 46 69) 100%), url(https://www.weblozy.com/uploads/2023/12/img1.jpeg);
}
.fsec_img2{
    background-image: linear-gradient(#262e4533 0%, rgb(38 46 69) 100%), url(https://www.weblozy.com/uploads/2023/12/img2.jpeg);
}
.fsec_img3{
    background-image: linear-gradient(#262e4533 0%, rgb(38 46 69) 100%), url(https://www.weblozy.com/uploads/2023/12/img3.jpeg);
}
.fsec_img4{
    background-image: linear-gradient(#262e4533 0%, rgb(38 46 69) 100%), url(https://www.weblozy.com/uploads/2023/12/img4.jpeg);
}

.fsec:hover{
    /* transform: translateX(10px); */
    transform: scale(1.1);
    transition: transform 1s ease;
    .fsec_heading1{
        display: none;
    }
    .fsec_content{
        display: block;
    }
}
.fsec_heading1{
    color: #fff;
    position: absolute;
    bottom: 5%;
    padding-left: 5%;
}
.fsec_content{
    display: none;
}
.fsec_content{
    color: #fff;
    position: absolute;
    bottom: 20%;
    padding: 8%;
}
.threecardbg{
   position: absolute;
   opacity: 0.2;
   top: 10px;
   right: 10px;
   overflow: hidden;
}
.threecardbg img{
   height: 150px;
}
.customcard2bg{
   position: absolute;
   opacity: 0.2;
   top: 10px;
   right: 10px;
   overflow: hidden;
}
.customcard2bg img{
   height: 100px;
}
.custom-card1{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px;
   box-shadow: 0 16px 40px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}
.custom-card1a{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-finance2.webp);
}
.custom-card1b{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-health.webp);
}
.custom-card1c{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-ecommerce.webp);
}
.custom-card1d{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-education.webp);
}
.custom-card1e{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-management.webp);
}
.custom-card1f{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-cosmetic.webp);
}

.custom-card2{
   /* background-color: #F8F8F8; */
   padding: 22px 22px 22px 22px;
   border-radius: 20px;
   
}
.bg-grey{
   background-color: #F8F8F8;
}
.custom-card3{
   /* padding: 22px; */
   border-radius: 20px;
}
.custom-card3 h1{
   font-size: 50px;
   font-weight: bold;
}
.custom-faq{
   background-image: url(https://www.weblozy.com/uploads/2024/01/bg-504.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.custom-faq .accordion-item button{
   border-bottom: none !important;
}

.collapsible-link {
   width: 100%;
   position: relative;
   text-align: left;
 }
 
 .collapsible-link::before {
   content: "\f107";
   position: absolute;
   top: 50%;
   right: 0.8rem;
   transform: translateY(-50%);
   display: block;
   font-family: "FontAwesome";
   font-size: 1.1rem;
 }
 
 .collapsible-link[aria-expanded="true"]::before {
   content: "\f106";
 }
 .accordion-black{
   background-color: #000;
   color: #fff;
 }
 .accordion-black button{
   text-decoration: none;
   font-size: 30px;
   font-weight: 300;
 }
 .accordion-white{
   background-color: #fff;
   color: #000;
 }
 .accordion-white button{
   text-decoration: none;
   font-size: 30px;
   font-weight: 300;
 }
 .hero-section a{
   width: 60px;
 }

 @media screen and (max-width: 992px) {
   .left-side {width:100%; height:auto;  margin-bottom: 50px; display:inline-block; float:left; }
   .leftright-section {width:100%; }
   .leftright-section:before, .leftright-section:after {content:''; display:table;}
   .right-side {width:100%; vertical-align:top; }
}
@media screen and (min-width: 992px) {
   .left-side {width:30%; height:auto;  margin-bottom: 50px; display:inline-block; float:left; position:sticky; top:125px;}
   .leftright-section {width:100%;  clear:both;}
   .leftright-section:before, .leftright-section:after {content:''; display:table; clear:both;}
   .right-side {width:65%; display:inline-block; vertical-align:top; float:right;}
   .w80desk{
      width: 80%;
   }
}
.customtoc a { border-radius: 10px; padding: 8px;}
.customtoc .active {background-color: #e3c2a0;transition: all 700ms ease; border-radius: 5px; padding: 15px;}

.articleslider .carousel-item img{
   height: 700px;
   position: relative;
   transition: transform 1s ease;
   transform: translateX(0px);
   /* -webkit-filter: grayscale(100%);
   filter: grayscale(100%); */
   max-width: none !important;
   width: auto !important;
   background-image: linear-gradient(#262e4533 0%, rgb(38 46 69) 100%);
}


.related-tags{
   border: 1px solid gray;
   border-radius: 70px;
   margin-bottom: 5px;
   font-weight: 500;
   background-color: #efefef;
   padding: 10px 20px;
   display: inline-table;
}
.related-tags:hover{
   background-color: #e3c2a0;  
}
.left-side{
   /* padding: 18px;  */
   border: 1px solid slategrey;
   border-radius: 10px;
}
.left-side .head{
   padding: 15px 18px;
   background-color: rgb(233, 233, 233);
   border: 1px solid rgb(233, 232, 232);
   border-radius: 10px 10px 0px 0px;
}
.left-side .toc-points{
   padding: 15px 18px;
}
.blurbg{
   filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}
.service-details-page .footer-cf-section  {
   position: relative;
}
.service-details-page .footer-cf-section:before {
   background: #262e45;
   bottom: 0;
   content: "";
   height: 50%;
   left: 0;
   position: absolute;
   width: 100%;
   z-index: -1;
}
.service-details-page .footer-cf-section .footer-cf .form {
   background: transparent;
   padding: 0;
}
.service-details-page .footer-cf-section .footer-cf .form-field {
   background-color: transparent;
   color: #fff;
}
.service-details-page .footer-cf-section .footer-cf .form-col label {
   color: #ddd;
}
.service-details-page .footer-cf-section .footer-cf .form-col i {
   color: #e3c2a0;
}
.service-details-page .footer-cf-section .footer-cf .details {
   padding: 2rem;
}
.service-details-page .footer-cf-section .footer-cf .cf-anim {
   height: 100%;
   left: 0;
   opacity: .2;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 1;
}

.glow-on-hover {
   border: none;
   outline: none;
   position: relative;
   z-index: 0;
}

.glow-on-hover:before {
   content: '';
   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   position: absolute;
   top: -2px;
   left:-2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing 20s linear infinite;
   opacity: 0;
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
}

.glow-on-hover:hover:before {
   opacity: 1;
}

.glow-on-hover:after {
   z-index: -1;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #e3c2a0;
   left: 0;
   top: 0;
   border-radius: 10px;
}

@keyframes glowing {
   0% { background-position: 0 0; }
   50% { background-position: 400% 0; }
   100% { background-position: 0 0; }
}



.ot-btn {
	position: relative;
	z-index: 2;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	border: none;
	text-transform: capitalize;
	text-align: center;
	background-color: #e3c2a0;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 14.5px 0px;
	min-width: 170px;
	border-radius: 30px
}

.ot-btn:before {
	content: "";
	position: absolute;
	height: 100%;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #1C1C25;
	z-index: -1;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	border-radius: inherit
}

.ot-btn i {
	font-size: 0.95em
}

.ot-btn:hover,
.ot-btn.active {
	color: #ffffff;
	box-shadow: none
}

.ot-btn:hover::before,
.ot-btn.active::before {
	width: 100%
}

.ot-btn.style2 {
	background-color: transparent;
	color: #000;
	border: 1px solid #000000;
	padding: 20px 40px;
	box-shadow: none
}

.ot-btn.style2:hover {
	color: #1C1C25;
	border-color: #ffffff;
	border: 1px solid #000000;
}

.ot-btn.style2:hover:before,
.ot-btn.style2:hover:after {
	background-color: #e3c2a0;
}

.ot-btn.style3:hover {
	color: #1C1C25
}

.ot-btn.style3:hover:before,
.ot-btn.style3:hover:after {
	background-color: #ffffff
}

.ot-btn.style4 {
	background-color: #1C1C25;
	color: #ffffff
}

.ot-btn.style4:hover {
	color: #ffffff
}

.ot-btn.style4:hover:before,
.ot-btn.style4:hover:after {
	background-color: #e3c2a0
}

.ot-btn.style5 {
	background-color: #e3c2a0;
	color: #ffffff
}

.ot-btn.style5:hover {
	color: #e3c2a0
}

.ot-btn.style5:hover:before,
.ot-btn.style5:hover:after {
	background-color: #ffffff
}

.ot-btn.style6 {
	background-color: #1C1C25
}

.ot-btn.style6:hover {
	color: #e3c2a0
}

.ot-btn.style6:hover:before,
.ot-btn.style6:hover:after {
	background-color: #ffffff
}

.ot-btn.btn-fw {
	width: 100%
}

.ot-btn.btn-fw:before,
.ot-btn.btn-fw:after {
	display: none
}

.ot-btn.btn-fw:hover {
	background-color: #1C1C25
}

.ot-btn.btn-sm {
	padding: 14.5px 25px;
	min-width: 145px
}

.cta-bg-img{
   /* background-image: url('https://www.weblozy.com/uploads/2023/12/visa-bg-4.webp');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
   background-color: #262e45;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.logoslider {
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
}
.logoslider img {
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}
.logoslider img:hover {
   -webkit-filter: none;
   filter:none;
}
.logoslide-track {
   animation: scroll 40s linear infinite;
   display: flex;
   width: calc(250px * 14);
}
.logoslide {
   height: 100px;
   width: 250px;
}

.font50{
   font-size: 50px !important;
}
.font43{
   font-size: 43px !important;
}
.font40{
   font-size: 40px !important;
}
.font30{
   font-size: 30px !important;
}
.font22{
   font-size: 22px !important;
}
.myfaq button{
   width: 98%;
   margin-top: 1%;
   margin-bottom: 1%;
   margin-right: auto;
   margin-left: auto;
   border-radius: 4px;
}
.logohead{
   position: absolute;
   height: 100%;
   background-color: #262e45;
   z-index: 2;
   color: #e3c2a0;
   vertical-align: middle;
   padding: 10px 40px;
}