.menu-block ul li .navitema{
    padding: 12px 10px;
    border-radius: 10px;
    transition: all 700ms ease;
 }
 .menu-block ul li .navitema:hover{
    background-color: aliceblue;
    transition: all 700ms ease;
 }
 .navitema span {
    display: inline-block;
    transition: 0.1s ease-in;
 }
 
 .s-text{
    font-size: 13px;
 }
 .navitema:hover .navitema span {
    transform: translateX(50%);
 }
 .navitema svg{
    width: 20px;
    stroke-width: 50px;
    /* color: black; */
 }
 .menu-block ul li a img{
    width: 35px;
 }
 .hero-section-wrap {
    background-color: rgb(10, 10, 10);
 }
 .hero-section-wrap {    
    width: 100%;
 }
 .hero-section .change-wrap-text h1 {
    /* font-family: 'Gilroy'; */
    color: #ffffff;
    /* font-size: 110px; */
    font-weight: 600;
 }
 .hero-section-wrap .hero-section {
    background-size: 100% 100%;
    height: 1100px;
    margin-bottom: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 140px;
 }
 .hero-section-wrap .hero-section p {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 3rem;
    color: #ffffff;
 }
 .hero-img-block .img-sec {
    border-radius: 18px;
 }
 .hero-img-block .img_block_id_1 {
    position: relative;
    height: 490px;
    width: 490px;
    left: 0;
 }
 .hero-img-block .img_block_id_2 {
    position: relative;
    width: 258px;
    height: 360px;
    top: 46px;    
    left: 0;
 }
 .hero-img-block .img_block_id_3 {
    position: relative;
    width: 260px;
    height: 410px;
    bottom: 75px;  
    left: 0;
 }
 .hero-img-block .img_block_id_4 {
    position: relative;
    width: 490px;
    height: 490px;
    bottom: 30px;   
    right: 0; 
 }
 .get-started-btn {
    align-items: center;
    background-color: #e3c2a0;
    border: none;
    border-radius: 43px;
    color: #000;
    display: flex;
    font-size: 18px;
    height: 55px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 24px;
    font-weight: 600;
    width: 170px;
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease; 
 }
  .webdev {
    color: #ffd9e2;
    /* text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c; */
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: blink 4s infinite alternate;
             animation: blink 4s infinite alternate;
    }
    .socod {
    font-size: 11vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
             animation: buzz 0.01s infinite alternate;
    }
    
    @-webkit-keyframes buzz {
    70% {
       opacity: 0.80;
    }
    }
    
    @keyframes buzz {
    70% {
       opacity: 0.80;
    }
    }
    @-webkit-keyframes blink {
    40% {
       opacity: 1;
    }
    42% {
       opacity: 0.8;
    }
    43% {
       opacity: 1;
    }
    45% {
       opacity: 0.2;
    }
    46% {
       opacity: 1;
    }
    }
    @keyframes blink {
    40% {
       opacity: 1;
    }
    42% {
       opacity: 0.8;
    }
    43% {
       opacity: 1;
    }
    45% {
       opacity: 0.2;
    }
    46% {
       opacity: 1;
    }
    }
 .get-started-btn:hover {
    background-color: #05c;
 }
 .hero-section-wrap .get-started-btn {
    font-size: 18px;
    height: 55px;
    padding: 1rem;
    width: 160px;
 }
 .hero-section-wrap .hero-section {
    height: 1250px;
    padding-top: 280px;
 }
 .up-hero-section-wrap .hero-section {
    height: 1380px;
    padding-top: 150px;
 }
 @media (min-width: 1199px) {
    .hero-section .change-wrap-text h1 {
          font-size: 110px;
       }
 }
 @media (min-width: 992px) and (max-width: 1199px) {
    .hero-section-wrap .hero-section {
       padding-top: 170px;
       margin-bottom: 70px;
    }
    .up-hero-section-wrap .hero-section {
       padding-top: 140px;
    }
    .up-hero-section-wrap .hero-section {
       height: 1250px;
    }
    .up-hero-section-wrap #gradient-canvas {
       height: 1250px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 110px;
    }
 }
 @media (min-width: 768px) and (max-width: 991px) {
    .header .navbar-toggler {
       border: none;
       outline: none;
       padding: 0;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 110px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 78px;
    }
    .header.sticky-header .navbar-nav li a,
    .header .navbar-op-1 .navbar-nav li a {
       color: #ffffff!important;
    }
    .header .navbar-collapse {
       background-color: #000000;
       padding: 1rem;
       position: absolute;
       left: 0;
       right: 0;
       top: 70px;
    } 
    .header .navbar-nav {
       margin-top: 2rem;
       text-align: center;
    }
    .top-get-started-btn {        
       height: 35px;
       width: 160px;
       margin: 1rem auto 0;
    }
    .index-hero-features {
       width: 70%;
    }
    #gradient-canvas {
       height: 1200px;
    }
    .hero-section .change-wrap-text h1 {
       font-size: 78px;
    }
    .hero-section-wrap .hero-section p {
       font-size: 20px;
    }
    .hero-section-wrap .hero-section {
       padding-top: 140px;
       margin-bottom: 70px;
       height: 1200px;
    }
 }
 @media (max-width: 767px) {
    .hero-section .change-wrap-text h1 {
        font-size: 50px;
     }
    .hero-section-wrap .hero-section {
       height: 700px;
       margin-bottom: 50px;
    }
    .hero-section-wrap .hero-section p {
       font-size: 16px;
       font-weight: 500;
       padding: 0 2rem;
       margin-top: 0.5rem;
    }
    .hero-section-wrap .get-started-btn {
       font-size: 18px;
       height: 50px;
       font-weight: 600;
       width: 150px;
    }

 }
 @media (min-width: 320px) and (max-width: 767px) {
    .top-get-started-btn {    
       font-size: 14px;    
       height: 35px;
       margin-top: 1rem;
    }
    .hero-section-wrap .hero-section {
       padding-top: 140px;
       padding-bottom: 0;
    }
    .hero-img-block .img_block_id_1 {
       width: 140px;
       height: 140px;
       top: -65px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_2 {
       width: 90px;
       height: 140px;
       top: -100px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_3 {
       width: 145px;
       height: 145px;
       bottom: 85px;
       border-radius: 6px;
    }
    .hero-img-block .img_block_id_4 {
       display: none;
    }
    .hero-img-block {
       bottom: -35px;
       gap: 15px;
    }
    .hero-section-wrap .button-design-fixed button.bottom-fix-btn {
       font-size: 14px;
       height: 35px;
       width: 120px;
       padding: 0 15px;
    }
 }

.lead2 {
    font-size: 1.15rem;
}
.h4-v2 {
    font-size: 18px;
    color: #05164d;
    font-weight: 600;
}
.bgF8F8F8{
    background-color: #F8F8F8;
}
.dcard__white{
    background-color: #fff;
    color: #000;
}
.bg-black{
    background-color: #000;
}
@media (max-width: 767px) {
    .gra h1{
        font-size: 60px;
        font-weight: bolder;
    }
    .gra{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media (min-width: 767px) {
    .gra h1{
        font-size: 110px;
        font-weight: bold;
    }
    .gra{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.rtext h3{
    font-size: 40px;
    font-weight:600;
}
.rtext p{
    font-size: 25px;
    /* font-weight:600; */
}
@media screen and (min-width: 992px){
    .rtext {
        position: absolute;
        bottom: -450px;
    }
}

.parent {
    width: 45%;
    margin: 20px;
    height: 300px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://media.timeout.com/images/101602611/image.jpg);}
.bg-two {background-image: url(http://s1.it.atcdn.net/wp-content/uploads/2015/08/2-London.jpg);}
.bg-three {background-image: url(https://media.timeout.com/images/101484105/image.jpg);}
.bg-four {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Hollywood_Sign.jpg/1280px-Hollywood_Sign.jpg);}
.bg-five {background-image: url(http://www.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/1453920892/DUBAI-554088081-ABOVE0116.jpg?itok=dcoZnCrc);}
.bg-six {background-image: url(http://blog.whitepages.com/wp-content/uploads/2015/04/san-franc.jpg);}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px;}
    .wrapper {padding: 20px 20px;}
}

.fsec{
    height: 700px;
    position: relative;
    transition: transform 1s ease;
    transform: translateX(0px);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.fsec_img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(../imgs/img1.jpeg);
}
.fsec_img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(../imgs/img2.jpeg);
}
.fsec_img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(../imgs/img3.jpeg);
}
.fsec_img4{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(../imgs/img4.jpeg);
}

.fsec:hover{
    /* transform: translateX(10px); */
    transform: scale(1.1);
    transition: transform 1s ease;
    .fsec_heading1{
        display: none;
    }
    .fsec_content{
        display: block;
    }
}
.fsec_heading1{
    color: #fff;
    position: absolute;
    bottom: 5%;
    padding-left: 5%;
}
.fsec_content{
    display: none;
}
.fsec_content{
    color: #fff;
    position: absolute;
    bottom: 20%;
    padding-left: 5%;
}